$rgbDarkest: rgb(17, 17, 17);
$rgbBackground05: rgba(17, 17, 17, 0.5);
$rgbDark: rgb(48, 48, 48);
$rgbBackgroundBlue: #111319;
$rgbDarkBlue: #102a42;
$rgbRaisinBlack: #181b25;
$rgbCadetBlue: #a9afc3;
$rgbRoseMadder: #dd4242;
$rgbWhite08: rgba(255, 255, 255, 0.8);
$bezierFastoutSlowin: cubic-bezier(0.4, 0.0, 0.2, 1);
$durationXS: 200ms;
$durationS: 300ms;
$durationM: 400ms;
$durationL: 600ms;
$durationXL: 800ms;
$fontStack: Muli,
Gotham,
system-ui,
-apple-system,
BlinkMacSystemFont,
San Francisco,
Roboto,
Segoe UI,
Ubuntu,
Helvetica Neue,
sans-serif;
$monoFontStack: SFMono Regular,
Roboto Mono,
Consolas,
Liberation Mono,
Menlo,
Courier,
monospace;
$decoderFontStack: ヒラギノ角ゴ Pro W3,
Hiragino Kaku Gothic Pro,
Hiragino Sans,
Osaka,
メイリオ,
Meiryo,
Segoe UI,
sans-serif;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;
$fontSizeH1: 3.625rem;
$fontSizeH2: 2.375rem;
$fontSizeH3: 1.625rem;
$fontSizeBodyL: 1.25rem;
$fontSizeBodyM: 1.125rem;
$fontSizeBodyS: 1rem;
$fontSizeBodyXS: 0.8rem;
$lineHeightTitle: 1.1;
$lineHeightBody: 1.5;
$maxWidthS: 480px;
$maxWidthM: 640px;
$maxWidthL: 1096px;
$spaceOuter: 64px;
$spaceXS: 4px;
$spaceS: 8px;
$spaceM: 16px;
$spaceL: 24px;
$spaceXL: 32px;
$space2XL: 48px;
$space3XL: 64px;
$space4XL: 96px;
$space5XL: 128px;

$leftMenuWidth: 144px;
$leftMenuWidthMinus: -144px;



body {
    background: transparent;
    width: 100%;
    box-sizing: border-box;
    font-family: $fontStack;
    font-weight: $fontWeightRegular;
    font-synthesis: none;
    color: $rgbWhite08;
    border: 0;
    margin: 0;
    overflow-x: hidden;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif !important;
    font-weight: bold;
}

#loading-screen {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 1;
    transition: 1s opacity;
}

#loading-screen.fade-out {
    opacity: 0;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #DD2F61;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #CD2337;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #CF0007;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



.threeJS {
    &__container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        transition: 4s;
    }
}

.container-fluid {
    width: 100%;
    max-width: 1600px;
}

// .introLogo {
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%) scale(1);
//     transition: 0.2s linear;
//     display: none;
// }

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    width: $space2XL;
    position: fixed;
    top: $space2XL;
    left: $space2XL;
    bottom: $space2XL;
    z-index: 1024;

    &__logo {
        display: flex;
        position: relative;
        padding: $spaceS;
        z-index: 16;
        transition: 0.5s $bezierFastoutSlowin;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);


            svg path {
                fill: $rgbRoseMadder;
            }
        }

        &:active {
            transform: scale(0.9);
        }

        svg {
            width: 3rem;
            height: 3rem;
        }
    }



    .nav-toggle {
        position: fixed;
        top: $space2XL;
        right: $spaceXL;
        z-index: 1024;
        display: none;
        background: none;
        border: 0;
        outline: 0;
        height: 48px;
        align-items: center;

        svg {
            color: $rgbWhite08;
            fill: $rgbWhite08;
            transition: $bezierFastoutSlowin 0.5s;
            top: 50%;
            left: 50%;
            position: absolute;
            width: 32px;
            height: 32px;
        }

        &__inner {
            position: relative;
        }

        &__icon--menu {
            opacity: 1;
            transform: translate(-50%, -50%);
        }

        &__icon--close {
            opacity: 0;
            transform: translate(-50%, -50%) rotate(45deg);
        }
    }


    .button-icon-only {
        // $buttonPadding: 0;
        // $buttonTextColor: $colorTextBody;
        // width: $buttonSize;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex: 1 1 auto;
        max-width: $space2XL;
        position: relative;
        top: -16px;
    }

    &__nav-list {
        transform: rotate(-90deg) translate3d(-50%, 0, 0);
        display: flex;
        flex-direction: row-reverse;
    }

    &__nav-link {
        padding: $spaceM;
        color: $rgbWhite08;
        font-weight: $fontWeightMedium;
        font-size: initial;
        text-decoration: none;
        position: relative;
        transition: color $durationS ease .1s;
        line-height: 1;
        white-space: nowrap;

        &:active,
        &:hover {
            color: $rgbRoseMadder;
            text-decoration: none;
        }

        &.active {
            color: $rgbRoseMadder;
        }


    }

    &__nav-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 16;
    }

    &__nav-icon-link {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $spaceS;
        width: $space2XL;
        height: $space2XL;
        color: $rgbRoseMadder;
        transition: color $durationM $bezierFastoutSlowin;

        &:hover {
            svg {
                fill: $rgbRoseMadder;
            }
        }

        svg {
            fill: white;
            transition: fill $durationM ease;
        }
    }

}

.main-container {
    width: 100%;
    position: relative;
    z-index: 1;
}

.hero {
    text-align: center;
    color: black;

}

.section .fp-tableCell {
    position: relative;
}

#fullpage .section {
    height: 155vh;
}

.projects {
    margin-top: 150vh;
    padding-top: calc(45vh - 50px);
    padding-bottom: calc(45vh - 85px);

    &__heading {
        font-size: $fontSizeBodyL;
        letter-spacing: 4px;
        font-weight: 300;
        color: rgba(34, 34, 36, 0.3);
        text-transform: uppercase;
        padding-bottom: 4rem;
        position: relative;
        font-weight: 400;
        font-family: 'Muli', sans-serif;

        &::before {
            content: '';
            height: 3px;
            width: 50px;
            background-color: rgba(34, 34, 36, 0.3);
            display: inline-block;
            vertical-align: middle;
            margin-right: 1rem;

        }
    }

    &__item {
        position: relative;
        // color: rgba(187, 194, 229, .3);
        color: black;
        font-size: 5rem;
        line-height: 66px;
        font-weight: 900;
        transition: .6s cubic-bezier(.165, .84, .44, 1);
        z-index: 1;
        margin: 0;
        display: flex;
        flex-direction: column;
        max-width: 500px;
        padding: 2rem;
        background: rgba(184, 187, 193, 0.33);
        backdrop-filter: blur(2px);
        // border-radius: 2px;
        // border: 1px solid black;
        // box-shadow: 0px 0px 0px 0.rem rgba(184, 187, 193, 0.63);

        // &::before {
        //     content: '';
        //     width: 100%;
        //     height: 100%;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     filter: blur(2px);
        //     background: rgba(184, 187, 193, 0.63);
        //     z-index: -1;
        // }


        &:hover {
            color: black;
            text-decoration: none;
            z-index: 3;

            .projects__description {
                color: black;
            }
        }
    }

    &__description {
        height: auto;
        width: 300px;
        margin-top: 2rem;
        z-index: 1;
        opacity: 1;
        font-family: Muli, Heebo, Helvetica, Arial, sans-serif;
        font-weight: 300;
        font-style: normal;
        color: black;
        font-size: 1rem;
        line-height: 1.3636363636;
        transition: .6s cubic-bezier(.165, .84, .44, 1);
    }
}




.newsletter {
    min-height: 160px;
    display: block;
    position: relative;
    color: white;

    &__heading {
        font-weight: bold;
        display: block;
        position: relative;
    }

    &__subheading {
        font-weight: 500;
    }


    &__input-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__input {
        border-radius: 0;
        border: none;
        height: 40px;
        margin-bottom: 0.75rem;
        background: rgba(34, 34, 36, 0.2);
        transition: 0.2s;
        min-width: 320px;
        max-width: 100%;
        padding: 0.5rem 1rem;
        color: rgba(233, 233, 233, 0.8);

        &:hover,
        &:focus,
        &:active {
            outline: none;
            box-shadow: none;
            border: none;
        }

        &:hover {
            background: lighten($color:rgba(34, 34, 36, 0.2), $amount: 10%);
        }


        &:focus {
            background: lighten($color:rgba(34, 34, 36, 0.2), $amount: 15%);
            color: white;
        }
    }

    &__button {
        color: black;
        text-transform: uppercase;
        transition: 0.2s;
        min-width: 160px;
        max-width: 100%;
        outline: none;
        box-shadow: none;
        height: 42px;
        border: none;
        background: rgba(252, 252, 252, 0.2);
        line-height: 46px;
        padding: 0 0.5rem;

        &:hover,
        &:focus,
        &:active {
            background-color: darken($color: #7f5757, $amount: 20%);
            border: none;
            outline: none;
            box-shadow: none;
        }

        &:active {
            transform: scale(0.95);
        }

    }

    &-bg {
        background: darken($color: #7f5757, $amount: 15%);
    }
}




.dg main a {
    //controls
    margin-top: -50px;
}

.dg.ac {
    z-index: 50 !important;
}


@media (max-width:992px) {
    .projects__title {
        font-size: 3rem;
    }
}