body {
  background: transparent;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Muli, Gotham, system-ui, -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Ubuntu, Helvetica Neue, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
  margin: 0;
  overflow-x: hidden;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif !important;
  font-weight: bold;
}

#loading-screen {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 1;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}

#loading-screen.fade-out {
  opacity: 0;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #DD2F61;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #CD2337;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #CF0007;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.threeJS__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  -webkit-transition: 4s;
  transition: 4s;
}

.container-fluid {
  width: 100%;
  max-width: 1600px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
  width: 48px;
  position: fixed;
  top: 48px;
  left: 48px;
  bottom: 48px;
  z-index: 1024;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 8px;
  z-index: 16;
  -webkit-transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.header__logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__logo:hover svg path {
  fill: #dd4242;
}

.header__logo:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.header__logo svg {
  width: 3rem;
  height: 3rem;
}

.header .nav-toggle {
  position: fixed;
  top: 48px;
  right: 32px;
  z-index: 1024;
  display: none;
  background: none;
  border: 0;
  outline: 0;
  height: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav-toggle svg {
  color: rgba(255, 255, 255, 0.8);
  fill: rgba(255, 255, 255, 0.8);
  -webkit-transition: cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.5s;
  top: 50%;
  left: 50%;
  position: absolute;
  width: 32px;
  height: 32px;
}

.header .nav-toggle__inner {
  position: relative;
}

.header .nav-toggle__icon--menu {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header .nav-toggle__icon--close {
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.header .button-icon-only {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 48px;
  position: relative;
  top: -16px;
}

.header__nav-list {
  -webkit-transform: rotate(-90deg) translate3d(-50%, 0, 0);
          transform: rotate(-90deg) translate3d(-50%, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.header__nav-link {
  padding: 16px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  font-size: initial;
  text-decoration: none;
  position: relative;
  -webkit-transition: color 300ms ease 0.1s;
  transition: color 300ms ease 0.1s;
  line-height: 1;
  white-space: nowrap;
}

.header__nav-link:active, .header__nav-link:hover {
  color: #dd4242;
  text-decoration: none;
}

.header__nav-link.active {
  color: #dd4242;
}

.header__nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 16;
}

.header__nav-icon-link {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
  width: 48px;
  height: 48px;
  color: #dd4242;
  -webkit-transition: color 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav-icon-link:hover svg {
  fill: #dd4242;
}

.header__nav-icon-link svg {
  fill: white;
  -webkit-transition: fill 400ms ease;
  transition: fill 400ms ease;
}

.main-container {
  width: 100%;
  position: relative;
  z-index: 1;
}

.hero {
  text-align: center;
  color: black;
}

.section .fp-tableCell {
  position: relative;
}

#fullpage .section {
  height: 155vh;
}

.projects {
  margin-top: 150vh;
  padding-top: calc(45vh - 50px);
  padding-bottom: calc(45vh - 85px);
}

.projects__heading {
  font-size: 1.25rem;
  letter-spacing: 4px;
  font-weight: 300;
  color: rgba(34, 34, 36, 0.3);
  text-transform: uppercase;
  padding-bottom: 4rem;
  position: relative;
  font-weight: 400;
  font-family: 'Muli', sans-serif;
}

.projects__heading::before {
  content: '';
  height: 3px;
  width: 50px;
  background-color: rgba(34, 34, 36, 0.3);
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
}

.projects__item {
  position: relative;
  color: black;
  font-size: 5rem;
  line-height: 66px;
  font-weight: 900;
  -webkit-transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 1;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 500px;
  padding: 2rem;
  background: rgba(184, 187, 193, 0.33);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.projects__item:hover {
  color: black;
  text-decoration: none;
  z-index: 3;
}

.projects__item:hover .projects__description {
  color: black;
}

.projects__description {
  height: auto;
  width: 300px;
  margin-top: 2rem;
  z-index: 1;
  opacity: 1;
  font-family: Muli, Heebo, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: black;
  font-size: 1rem;
  line-height: 1.3636363636;
  -webkit-transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.newsletter {
  min-height: 160px;
  display: block;
  position: relative;
  color: white;
}

.newsletter__heading {
  font-weight: bold;
  display: block;
  position: relative;
}

.newsletter__subheading {
  font-weight: 500;
}

.newsletter__input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.newsletter__input {
  border-radius: 0;
  border: none;
  height: 40px;
  margin-bottom: 0.75rem;
  background: rgba(34, 34, 36, 0.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  min-width: 320px;
  max-width: 100%;
  padding: 0.5rem 1rem;
  color: rgba(233, 233, 233, 0.8);
}

.newsletter__input:hover, .newsletter__input:focus, .newsletter__input:active {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.newsletter__input:hover {
  background: rgba(59, 59, 62, 0.2);
}

.newsletter__input:focus {
  background: rgba(71, 71, 75, 0.2);
  color: white;
}

.newsletter__button {
  color: black;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  min-width: 160px;
  max-width: 100%;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 42px;
  border: none;
  background: rgba(252, 252, 252, 0.2);
  line-height: 46px;
  padding: 0 0.5rem;
}

.newsletter__button:hover, .newsletter__button:focus, .newsletter__button:active {
  background-color: #422e2e;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.newsletter__button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.newsletter-bg {
  background: #523838;
}

.dg main a {
  margin-top: -50px;
}

.dg.ac {
  z-index: 50 !important;
}

@media (max-width: 992px) {
  .projects__title {
    font-size: 3rem;
  }
}
/*# sourceMappingURL=main-style.css.map */